<header>
  <div>Tiny URL App</div>
  <% if (user) { %>
    <h2>Hello <%= user.id %></h2>
    <form method="POST" action="/logout">
      <button type="submit" name="logout">Logout</button>
    </form>
  <% } else { %>
    <a href="/login">Login</a>
    <a href="/register">Register</a>
  <% } %>
</header>